.project-heading {
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: 700;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  max-width: 1200px;
  margin: 30px auto 0 auto;
}

.project-wrapper {
  flex: 0 0 48%;
  box-sizing: border-box;
  max-width: 48%;
  margin: 0;
}

.project-card {
  width: 100%;
  aspect-ratio: 16 / 9;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 24px;
  font-weight: bold;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  text-align: center;
}

.image-container:hover .project-image {
  opacity: 0.5;
}

.image-container:hover .overlay-text {
  opacity: 1;
}

@media (max-width: 768px) {
  .project-wrapper {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
