/* * #skills {
  background-color: black;
  padding: 30px;
} */

.skills-container {
  padding: 0px 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px;
}

.skills-heading {
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: 700;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 50px;
}

.skills-slider {
  overflow: hidden;
  position: relative;
}

.skills-track {
  display: flex;
  align-items: center;
  gap: 16px;
  width: max-content;
  animation: scroll var(--speed, 18s) linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-1 * var(--loop-width, 0px)));
  }
}

.skill-slide {
  flex: 0 0 auto;
  width: 300px;
  /* padding: 10px;
  margin-top: 20px; */
}

.skill-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  gap: 10px;
  border-radius: 8px;
  padding: 10px 20px;
}

.skill-icon {
  width: 50px;
  height: 50px;
  object-fit: contain;
  /* margin-bottom: 8px; */
}

.skill-name {
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  /* margin-left: 10px; */
}
.skills-slider:hover .skills-track {
  animation-play-state: paused;
}

@media (max-width: 768px) {
  .skills-heading {
    font-size: 1.5rem;
  }
  .skill-slide {
    width: 200px;
  }

  .skill-icon {
    width: 40px;
    height: 40px;
  }

  .skill-name {
    font-size: 18px;
  }
}
