.skills-slider {
  overflow: hidden;
  position: relative;
}

.skills-track {
  display: flex;
  width: 200%;
  animation: scrollSkills 20s linear infinite;
}

@keyframes scrollSkills {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.skill-slide {
  flex: 0 0 auto;
  width: 300px;
  padding: 10px;
  margin-top: 20px;
}

.skill-card {
  background: #d9d7d0;
  border-radius: 8px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill-icon {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-bottom: 8px;
}

.skill-name {
  font-size: 1.2rem;
  font-weight: 600;
  color: black !important;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .skill-slide {
    width: 200px; /* reduce width on tablets and small screens */
  }

  .skill-icon {
    width: 40px;
    height: 40px;
  }

  .skill-name {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .skill-slide {
    width: 150px; /* further reduce on very small screens */
  }

  .skill-icon {
    width: 30px;
    height: 30px;
  }

  .skill-name {
    font-size: 0.9rem;
  }
}
