/* Study Plan case page css */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.case-study-section-lms {
  /* background-color: #ff6d77; */
  background-color: #ffffff;
  padding: 4rem 2rem;
  font-family: "Inter", "Helvetica Neue", sans-serif;
  color: #222;
  line-height: 1.75;
}

.case-study-title-lms {
  font-size: 1.75rem;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 1rem;
  color: #0965e8;
  animation: fadeIn 1s ease-in-out;
  text-align: center;
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.case-block-lms {
  margin: 3rem 0;
  padding: 2rem;
  border-radius: 12px;
  background: #f8f8f8;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
}

.case-block-lms h2 {
  font-size: 1.4rem;
  color: #333;
  margin-bottom: 1rem;
  border-left: 6px solid #0965e8;
  padding-left: 1rem;
  font-weight: 700;
}

.case-block-lms ul {
  padding-left: 1.5rem;
  list-style-type: disc;
}

.case-block-lmj li,
.case-block-lmj p {
  font-size: 0.95rem;
  margin-bottom: 0.75rem;
}

.process-step {
  font-size: 1.5rem;
  color: #222;
  margin-bottom: 0.75rem;
  font-weight: 600;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.video-wrapper {
  margin-top: 20px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.button-group {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

.button-lms {
  background-color: #4c5fd5;
  color: #fff;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 8px;
  border: none;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 10px rgba(76, 95, 213, 0.2);
}

.button-hm :hover {
  background-color: #3b4cc0;
}

@media (max-width: 768px) {
  .case-study-section-lms {
    padding: 3rem 0rem;
  }
  .case-study-container {
    padding: 1.5rem 1rem;
    margin: 1rem;
  }

  .case-study-title-lms {
    font-size: 1.6rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .case-block-lms {
    padding: 1.25rem 1rem;
    margin: 1.5rem 0;
  }

  .case-block-lms h2 {
    font-size: 1.3rem;
    padding-left: 0.75rem;
  }

  .case-block-lms li,
  .case-block-lms p {
    font-size: 0.95rem;
  }

  .button-group {
    flex-direction: column;
    align-items: center;
  }

  .video-wrapper iframe {
    width: 100%;
  }
}
